body {
  font-family: Arial;
  color: #000000;
}

header {
  position: sticky;
  background-image: url(Original-Bild-Geld-sparen.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  z-index: 10;
  width: 100%;
  top: 0;
  height: 160px;
  padding: 0px;
  margin: 10px;
  box-shadow: 5px 5px 5px gray;
}

/* In this part, I have achieved to have background ımage seperatelz and gave the z-index -1. We can now change its opacity without affecting other elements in header.
We should learn more about "::before" and "::after" pseudo-elements.
*/
/* header::before {
  background-position: bottom;
  position: absolute;
  content: "";
  inset: 0;
  opacity: 16;
  z-index: 9;
}*/

/* In this part, I gave some padding to text. I think it was not looking good when it is at the top*/
header h1 {
  text-align: center;
  padding-top: 30px;
}

/* In this part, I have change the style of anchor elements. I remeved the default decorations (e.g. underline) and give color.*/
a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  font-size: large;
}

/* In this part, I have give feature to our anchor element. When one hover over the anchor element on website, its opacitz will change to 0.6.*/
a:hover {
  opacity: 0.6;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

p {
  font-size: medium;
  line-height: 30px;
}
section {
  width: 95%;
  margin: 0 auto 150px auto;
  padding: 25px;
  box-shadow: 0px 0px 8px 1px black;
  justify-content: space-between;
}
#section-1 {
  margin-top: 100px;
}
.fab {
  font-size: 50px;
}
.Conatct {
  display: flex;
  justify-content: center;
}
footer {
  display: flex;
  margin: 2rem auto;
  flex-direction: row;
  justify-content: center;
}
