header {
  position: sticky;
  top: 0;
  /*z-index: 10;*/
  background-position: bottom;
  background-image: url(Original-Bild-Geld-sparen.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding: 0px;
  margin: 10px;
  box-shadow: 5px 5px 5px gray;
}
header h1 {
  text-align: center;
}
body {
  font-family: Arial;
  color: #000000;
}
p {
  font-size: medium;
  line-height: 30px;
}
section {
  width: 95%;
  margin: 0 auto 150px auto;
  padding: 25px;
  box-shadow: 0px 0px 8px 1px black;
  /*position: relative;*/
  justify-content: space-between;
}
nav li {
  display: flex;
  list-style: none;
  list-style-type: none;
}
nav a {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
